<table>
  <tr>
    <td>Name</td>
    <td>Power</td>
    <td>Descriptor</td>
  </tr>
  <% @super_heroes.each do |super_hero|%>
    <tr>
      <td><%= super_hero["name"]%></td>
      <td><%= super_hero["power"]%></td>
      <td><%= super_hero["descriptor"]%></td>
    </tr>
  <%end%>
</table>