<table>
  <tr>
    <th>Name</th>
    <th>Power</th>
    <th>Descriptor</th>
  </tr>
  <% @super_heroes.each do |super_hero|%>
    <tr>
      <td><%= super_hero.name%></td>
      <td><%= super_hero.power%></td>
      <td><%= super_hero.descriptor%></td>
    </tr>
  <%end%>
</table>