<table>
  <tr>
    <th>Name</th>
    <th>Power</th>
    <th>Descriptor</th>
  </tr>
  <% @super_heroes.each do |super_hero_hash|%>
    <tr>
      <td><%= super_hero_hash["name"]%></td>
      <td><%= super_hero_hash["power"]%></td>
      <td><%= super_hero_hash["descriptor"]%></td>
    </tr>
  <%end%>
</table>